# Privy
NEXT_PUBLIC_PRIVY_APP_ID=
PRIVY_APP_SECRET=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Helius
HELIUS_API_KEY=
NEXT_PUBLIC_HELIUS_RPC_URL=

# Bags
BAGS_API_KEY=
